<!DOCTYPE html>
<meta charset="utf-8">
<title>FrontendWeb</title>
<h1>FrontendWeb</h1>
<p>This is the beautiful web frontend.</p>
<p>Refresh this page a few times and check the Zipkin UI - you should already see traces!</p>

<p><a asp-action="PlaceOrder">Place an order</a></p>
